<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiero apadrinar | Fundación Sonrisitas Mágicas</title>
</head>
<body>
    <section>
        <h1>Registro para apadrinar a un niño</h1>
        <fieldset>
            <form method="POST">
                <label class="titulo_form">Información Personal:</label><br/>
                <input type="text" id="nombre_padrino" placeholder="Nombre y Apellidos" size="50" tabindex="1" required="true"><br/><br/>
                <label>Tipo de identificación</label><br/>
                <select name="tipo_id" id="tipo_id" tabindex="2" required="true">
                    <option value="cc">Cédula de ciudadanía</option>
                    <option value="ce">Cédula de extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                </select><br/><br/>
                <input type="text" id="id_padrino" name="id_padrino" placeholder="Número de identificación" size="50" tabindex="3" required="true"><br/><br/>
                <input type="text" id="tel_padrino" name="tel_padrino" placeholder="Teléfono" size="50" tabindex="4" required="true"><br/><br/>
                <input type="text" id="ciudad_padrino" name="ciudad_padrino" placeholder="Ciudad" size="50" tabindex="5" required="true"><br/><br/>
                <label class="titulo_form">Información de Registro:</label><br/>
                <input type="email" id="email_padrino" name="email_padrino" placeholder="Email" size="50" tabindex="6" required="true"><br/><br/>
                <input type="password" id="pass_padrino" name="pass_padrino" placeholder="Contraseña" size="50" tabindex="7" required="true"><br/><br/>
                <input type="password" id="confirm_pass_padrino" name="confirm_pass_padrino" placeholder="Confirmar contraseña" size="50" tabindex="8" required="true"><br/><br/>
                <input type="checkbox" id="politica_datos" name="politica_datos" value="Acepto" tabindex="9" checked="true" required="true">
                <label>Acepto política de tratamiento de datos</label><br/><br/>
                <button type="submit" tabindex="10">Registrar</button>
            </form>
        </fieldset>
    </section>
</body>
</html>