<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::DASHBOARD::</title>
  </head>
  <body>
    <!-- BARRA PRINCIPAL CON SESION INICIADA-->
    >
    <header class="">
      <ul class="">
        <li><a href="#" class="">Home</a></li>
        <li><a href="#" class="">¿Quienes Somos?</a></li>
        <li><a href="#" class="">Colabora</a></li>
        <li><a href="#" class="">FAQs</a></li>
      </ul>
      <div class="">
        <div class="">
          <ul class="">
            <li><a class="dropdown-item" href="niños.html">Niños</a></li>
            <li><a class="dropdown-item" href="padrinos.html">Padrinos</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="index.html">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
