<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>::HOME::</title>
        <!-- FALTA REALIZAR TODAS LAS DEMAS CONFIGURACIONES Y AGREGAR ESTILOS-->
    </head>

    <body>
        <!-- BARRA PRINCIPAL SIN SESION -->
        <div class="container-fluid bg-primary bg-opacity-40 ">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a class="
                   d-flex
                   align-items-center
                   col-md-1
                   mb-2 mb-md-0
                   text-dark text-decoration-none text-white
                   " href="index.html">
                    <img src="../img/Sonrisas Magicas 2.png" alt="mdo" width="160" height="45" class="" />
                </a>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="index.html" class="nav-link px-2 link-secondary text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark text-white">¿Quienes Somos?</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark text-white">Colabora</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark text-white">FAQs</a></li>
                </ul>
                <div class="col-md-3 text-end">
                    <a href="login.html" class="btn btn-primary">Iniciar Sesion</a>
                    <a href="add_padrino.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalcrear">Registrarse</a>
                </div>
            </header>
        </div>
        <section>
            <p>
                <!-- TEXTO AGREGADO COMO CONTENIDO EN LA PAGINA PRINCIPAL-->

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam leo libero, elementum sit amet est vitae, dapibus tempor libero. Suspendisse potenti. Suspendisse velit lorem, fringilla id luctus ac, aliquet et magna. In iaculis risus et augue interdum rutrum.
                Morbi pulvinar viverra velit, quis viverra lorem tincidunt in. Donec vitae placerat metus. Nam lectus arcu, placerat et magna ultrices, tincidunt luctus nisi. Phasellus at magna metus. Suspendisse id turpis fringilla, feugiat tortor sit amet,
                imperdiet est. Proin urna nisi, accumsan sed mauris vel, elementum faucibus lorem. Nunc non auctor erat, id tincidunt turpis. Duis lacinia libero eget blandit pretium. Nullam lacinia iaculis arcu, quis lacinia urna consectetur vitae. Maecenas
                ultrices purus a fermentum posuere. Pellentesque pulvinar blandit sapien mollis malesuada. Nullam mollis erat ligula, eu maximus sapien pellentesque rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Morbi mattis placerat nunc, in faucibus est. Sed massa massa, ullamcorper in interdum nec, tincidunt rutrum sapien. Phasellus eleifend in velit et mollis. Integer quis blandit est. Fusce semper libero eget erat elementum porttitor.
                Etiam augue nisl, efficitur sit amet facilisis a, suscipit eget nibh. Nullam efficitur dui a condimentum convallis. Nam congue justo ligula, sed venenatis dolor viverra non. Nunc faucibus tempor ipsum a semper. In nec placerat massa. Nam ornare
                accumsan neque, eget egestas nunc tristique nec. Vivamus condimentum gravida elit sit amet sollicitudin. Pellentesque malesuada justo nisi, ut porta magna dictum ac. Quisque et tellus rhoncus, dapibus arcu semper, feugiat leo. Maecenas at
                luctus erat. Donec dignissim varius dolor, sit amet dignissim tortor imperdiet et. Mauris eu enim vitae risus pulvinar blandit a ac elit. Praesent ut elit neque. Curabitur ac risus tincidunt, luctus metus eu, porttitor leo. Nulla feugiat sapien
                eget blandit viverra. Sed faucibus, nisl non pellentesque dapibus, lacus risus tristique mi, ut malesuada orci felis ac ex. Etiam efficitur id dui non placerat. Aliquam nec mauris risus. Morbi nec sem dui. Duis eget imperdiet lectus. Donec
                magna nibh, tempor et quam a, tempus convallis metus. Donec orci ante, tempor at ullamcorper ut, malesuada sit amet felis. Nulla facilisi. Sed ac elementum justo. In aliquet enim ante, sit amet aliquet tellus euismod sit amet.
            </p>
        </section>
        <footer></footer>
        <!--Modal crear-->
        <div class="modal fade" id="modalcrear" tabindex="-1" aria-labelledby="modalcrear" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Registro Padrinos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <!--DATOS PERSONALES-->
                            <div class="card mt-3">
                                <div class="card-header text-center"> Informacion Personal</div>
                                <div class="card-body">

                                    <div class="mb-3">
                                        <label for="tipo_doc" class="col-form-label">Tipo de Documento:</label>
                                        <select class="form-select" id="tipo_doc" aria-label="Default select example" >
                                            <option selected></option>
                                            <option value="TI">Tarjeta de Identidad</option>
                                            <option value="RC">Registro Civil</option>
                                            <option value="CE">Cedula de Extranjeria</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="doc_nino" class="col-form-label" >Documento:</label>
                                        <input type="text" class="form-control" id="doc_padrino" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="nombres_padrino" class="col-form-label">Nombres Completo:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="nombres_padrino" placeholder="Nombres"/>
                                            <input type="text" class="form-control" id="apellidos_padrino" placeholder="Apellidos"/>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="fec_nac_padrino" class="col-form-label">Fecha de nacimiento:</label>
                                        <input type="date" class="form-control" id="fec_nac_padrino" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="ciudad_padrino" class="col-form-label">Ciudad de Residencia:</label>
                                        <input type="text" class="form-control" id="ciudad_padrino" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="direccion_padrino" class="col-form-label">Direccion:</label>
                                        <input type="text" class="form-control" id="direccion_padrino" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="telefono_padrino" class="col-form-label">Telefono:</label>
                                        <input type="tel" class="form-control" id="telefono_padrino" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="foto_padrino" class="col-form-label">Foto:</label>
                                        <input type="file" class="form-control" id="foto_padrino" />
                                    </div>                         
                                </div>
                            </div>
                            <!--DATOS DEL ACUDIENTE-->
                            <div class="card mt-3">
                                <div class="card-header text-center">Datos de Inicio de Sesion</div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="usuario_padrino" class="col-form-label">Usuario:</label>
                                        <input type="text" class="form-control" id="usuario_padrino"/>
                                    </div>

                                    <div class="mb-3">
                                        <label for="contrasena_padrino" class="col-form-label">Contraseña: </label>
                                        <input type="password" class="form-control" id="contrasena_padrino" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="conf_contrasena_padrino" class="col-form-label">Confirmar Contraseña: </label>
                                        <input type="password" class="form-control" id="conf_contrasena_padrino" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Scripts de Bootstrap y Css-->
        <script
            src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous">
        </script></body>

</html>