<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>::LOGIN::</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="usuario" />

          <input type="password" placeholder="********" />

          <a href="niños.html">Ingresar</a>

          <p class="message">registrarse <a href="registro.html">Crear una cuenta</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
