<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>::NIÑOS::</title>
    <!-- FALTA REALIZAR TODAS LAS DEMAS CONFIGURACIONES Y AGREGAR ESTILOS-->
  </head>
  <body>
    <!-- BARRA PRINCIPAL CON SESION INICIADA-->
    <div class="container-fluid bg-primary bg-opacity-40 ">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none text-white" href="index.html">Fundacion Sonrisitas Magicas</a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="index.html" class="nav-link px-2 link-secondary text-white">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark text-white">¿Quienes Somos?</a></li>
            <li><a href="#" class="nav-link px-2 link-dark text-white">Colabora</a></li>
            <li><a href="#" class="nav-link px-2 link-dark text-white">FAQs</a></li>
          </ul>

            <div class="dropdown text-end">
              <a 
              href="#" 
              class="d-block link-dark text-decoration-none dropdown-toggle" 
              id="menudesplegable" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
                Abrir
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="menudesplegable">
                 <li><a class="dropdown-item" href="niños.html">Niños</a></li>
                <li><a class="dropdown-item" href="padrinos.html">Padrinos</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="index.html">Cerrar sesión</a>
                </li>
              </ul>
            </div>      
    </header>
  </div>
  
    <section>
      <div>
        <!-- BOTON PARA CREAR EN LA BASE DE DATOS NUEVOS NIÑOS-->
        <button type="button" class="">
          <a href="add_ninos.html" class="">Crear Nuevo Niño</a>
        </button>
      </div>
      <div>
        <!-- TABLA PARA LISTAR LOS NIÑOS Y APLICAR ACCIONES-->
        <table class="" cellspacing="1" border="1">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">APELLIDOS</th>
              <th scope="col">NOMBRES</th>
              <th scope="col">PADRINO</th>
              <th scope="col">DIRECCION</th>
              <th scope="col">CONTACTO</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="">Editar</button>
                <button type="button" class="">Asignar Padrino</button>
                <button type="button" class="">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="">Editar</button>
                <button type="button" class="">Asignar Padrino</button>
                <button type="button" class="">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="">Editar</button>
                <button type="button" class="">Asignar Padrino</button>
                <button type="button" class="">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="">Editar</button>
                <button type="button" class="">Asignar Padrino</button>
                <button type="button" class="">Eliminar</button>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="">Editar</button>
                <button type="button" class="">Asignar Padrino</button>
                <button type="button" class="">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer></footer>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
  </body>
</html>
